<div>
    <div class="page-content">
        <div class="page-header">
            <div class="container-fluid">
                <h2 class="h5 no-margin-bottom "><span style="color:#000000;font-size:medium;"> <mdb-icon fas icon="comment-alt" style="color:#6146D5;font-size:22px;"></mdb-icon>&nbsp;&nbsp; &nbsp;Chatbot
                        Report</span></h2>
            </div>
        </div>

        <div class="container-fluid">
            <h3 style="color: #6146D5;">In Progress</h3>
        </div>
        
               


    </div>
</div>